header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}
#Branding-Image {
    float: left;
    height: 64px;
}

h1 {
    padding-left: 10px;
    float: left;
}

ul {
    clear: both;
    background-color: black;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    cursor: pointer;
    padding-left: 33%;
}
li {
    
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border-right-style: solid;
    border-left-style: solid;

}

li:hover {
    background-color:gray;
}

li:active{
    transform: translateY(4px);
}

main{
    margin-top: 150px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
 }